.theme-dark {
  --background-primary: #262335;
  --background-primary-alt: #241b2f;
  --background-secondary: #241b2f;
  --background-secondary-alt: #262335;
  --background-modifier-border: #372b3d;
  --background-modifier-form-field: #372b3d;
  --background-modifier-form-field-highlighted: yellow;
  --background-modifier-box-shadow: none;
  --background-modifier-success: yellow;
  --background-modifier-error: yellow;
  --background-modifier-error-hover: yellow;
  --background-modifier-cover: #171520d2;
  --text-accent: #f97e72;
  --text-accent-hover: #ff7edb;
  --text-normal: #ffffff;
}
