.theme-light,
.theme-dark {
	.workspace-split.mod-root {
		.workspace-leaf {
			.view-header,
			.view-content {
				background-color: $light-purple;
			}

			.view-header {
				border-bottom: 1px solid;
				border-color: $light-gray;

				.view-header-title-container {
					&::after {
						display: none;
					}

					.view-header-title {
						color: $ghost-white;
					}
				}
			}

			.view-content {
				:not(pre) > code[class*='language-'],
				pre[class*='language-'],
				.cm-s-obsidian div.HyperMD-codeblock-begin-bg,
				.cm-s-obsidian div.HyperMD-codeblock-end-bg,
				.cm-s-obsidian div.HyperMD-codeblock-bg {
					background-color: $dark-purple;
				}

				.markdown-rendered blockquote {
					border-color: $ghost-purple;
				}
			}

			&.mod-active {
				.view-header {
					border-color: $dark-pink;

					.view-header-title-container {
						.view-header-title {
							color: $white;
						}
					}
				}
			}
		}
	}
}
