.theme-dark {
	--background-primary: #262335;
	--background-primary-alt: #241b2f;
	--background-secondary: #241b2f;
	--background-secondary-alt: #262335;
	--background-modifier-border: #372b3d;
	--background-modifier-form-field: #372b3d;
	--background-modifier-form-field-highlighted: yellow; // TODO
	--background-modifier-box-shadow: none;
	--background-modifier-success: yellow; // TODO
	--background-modifier-error: yellow; // TODO
	--background-modifier-error-hover: yellow; // TODO
	--background-modifier-cover: #171520d2; // TODO add blur to cover

	--text-accent: #f97e72;
	--text-accent-hover: #ff7edb;
	--text-normal: #ffffff;
}
