// Colors
$dark-pink: #880088;
$light-gray: #80808059;
$white: #ffffff;
$ghost-white: #ffffff80;
$ghost-purple: #372b3d;
$light-red: #f97e72;
$pink: #ff7edb;
$dark-purple: #171520;
$medium-purple: #241b2f;
$light-purple: #262335;

// fonts
$header-styles: (
	'1': (
		'font-size': 40px,
		'letter-spacing': 0.3px,
	),
	'2': (
		'font-size': 34px,
		'letter-spacing': 0.3px,
	),
	'3': (
		'font-size': 30px,
		'letter-spacing': 0.3px,
	),
	'4': (
		'font-size': 26px,
		'letter-spacing': 0.3px,
	),
	'5': (
		'font-size': 22px,
		'letter-spacing': 0.3px,
	),
	'6': (
		'font-size': 18px,
		'letter-spacing': 0.3px,
	),
);

.theme-dark {
	--background-primary: #{$light-purple};
	--interactive-normal: #{$ghost-purple};
}
